@charset "UTF-8";
html {
  color: #000;
  background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

html, body {
  height: 100%;
}

a, input, select, textarea {
  outline: 0;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

textarea:focus, keygen:focus, select:focus {
  outline-offset: -2px;
}

.BlockListItem, .inputIcon, .inputIcon, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.enrich {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav {
  /*老版本语法*/
  -webkit-box-pack: center;
  -moz-box-pack: center;
  /*混合版本语法*/
  -ms-flex-pack: center;
  /*新版本语法*/
  -webkit-justify-content: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow-y: auto;
  position: relative;
  font-size: 0.28rem;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

#app .top {
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  top: 0.4rem;
  left: 0;
  right: 0;
  background: #355bbd;
  box-sizing: border-box;
  border-bottom: 0.01rem solid #ddd;
}

#app .top .in {
  color: #fff;
}

#app .top .in .back {
  width: 1.5rem;
  padding-left: 0.2rem;
  color: #fff;
  position: relative;
  z-index: 9;
}

#app .top .in .right {
  width: 1rem;
}

#app .top .topInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 1rem;
  font-size: 0.38rem;
  color: #fff;
}

#app .warp {
  height: 100%;
  padding-top: 1.4rem;
  box-sizing: border-box;
  background: #ddd;
}

#app .warp .titleFx {
  color: #4d4d4d;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.2rem;
}

#app .warp .titleFx p {
  margin: 0.2rem 0;
  font-size: 0.2rem;
}

#app .warp .BlockList {
  width: 100%;
  padding-bottom: 1.2rem;
}

#app .warp .BlockList .BlockListItem {
  padding: 0.2rem 0.3rem;
  color: #000;
  background: #fff;
}

#app .warp .BlockList .BlockListItem p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
  line-height: 0.5rem;
  min-height: 0.5rem;
}

#app .warp .BlockList .BlockListItem span {
  font-size: 0.2rem;
  color: #4d4d4d;
  text-align: right;
  flex-shrink: 0;
}

#app .warp .nav {
  position: fixed;
  width: 1rem;
  height: 1rem;
  bottom: 0.3rem;
  right: 0.3rem;
  z-index: 9;
  background: #355bbd;
  border-radius: 50%;
  font-size: 0;
}

#app .warp .nav svg {
  transition: transform,0.4s;
  fill: #fff;
}

#app .warp .nav svg.active {
  transform: rotate(45deg);
  transition: transform,0.4s;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: transparent;
  transition: background,0.6s;
}

.popup .InputTex {
  font-size: 0.28rem;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0.3rem;
  box-sizing: border-box;
  border-radius: 0.08rem;
}

.popup .InputTex textarea {
  width: 100%;
  padding: 0.1rem 0.1rem;
  box-sizing: border-box;
  height: auto;
  min-height: 0.8rem;
  line-height: 0.4rem;
  border: 0;
  background: #fff;
  border: 0.01rem solid #ddd;
  border-radius: 0.05rem;
}

.popup .InputTex .inputIcon {
  margin: 0.2rem 0;
}

.popup .InputTex .buttonOk {
  width: 100%;
  height: 0.8rem;
  background: #355bbd;
  color: #fff;
  font-size: 0.28rem;
  border: 0;
  border-radius: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
}

.popup.active {
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  transition: background,0.6s;
}

.detailTitle {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.36rem;
  text-align: center;
}

.detailConten {
  padding: 0.1rem 0.3rem;
  line-height: 0.5rem;
}
